.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px

}

body{

  margin: 0;
  padding: 0;
}


.form{
  display: flex;
  align-items: center;
  justify-content: center;
}


.forgot{
  display: flex ;
  flex-direction: column;
  gap: 10px;
}
.forgot button{
  height: 30px;
  width: 200px;
}

.forgot input{
  width: 300px;
}